.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #0f172a;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 28px;
  color: #38bdf8;
}

.logo h2 {
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.login-btn,
.register-btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
}

.login-btn {
  border: 2px solid #38bdf8;
}

.register-btn {
  background: #38bdf8;
}